# Virtual environment
.venv/

# Python cache
__pycache__/

# Environment variables
.env

# OS-specific files
desktop.ini
.DS_Store

# Wheel files
*.whl

# Compiled libraries
scipy.libs/
pandas.libs/
numpy.libs/

# Frontend (Vite/React)
frontend/node_modules/
frontend/dist/
